<script src="https://unpkg.com/vue"></script>
<div id="app">
    <input type="checkbox" id="Soccer" value="Soccer" v-model="hobby">
    <label for="Soccer">Soccer</label>
    <input type="checkbox" id="BaseBall" value="BaseBall" v-model="hobby">
    <label for="BaseBall">BaseBall</label>
    <input type="checkbox" id="BasketBall" value="BasketBall" v-model="hobby">
    <label for="mike">BasketBall</label>
    <br>
    <span>Checked names: {{ hobby }}</span>
</div>
checkbox의 v-model이 배열일 경우, checkbox의 value와 연결
<script>
    new Vue({
        el: "#app",
        data: {
            hobby: ["BasketBall"]
        }
    });
</script>
