<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="utf-8">
  <title>Vue Sample</title>
  <script src="https://unpkg.com/vue"></script>
  <script>
    window.onload = function() {
      new Vue({
        el: '#join',
        data: {
            hobby: [''],
            hobbyOpt: ['A','B','C'],
            gender: "여",
            genderOpt: ['여','남'],
            mobile: "010",
            mobileOpt: [
                { text: '016', value: '016' },
                { text: '011', value: '011' },
                { text: '010', value: '010' }
            ]
        },
        methods: {
          join: function(){
            var id = this.$refs.id;
            if(id.value == '') {
                alert('ID를 확인해주세요');
                id.focus();
                return;
            }
          }
        }
      });
    }
  </script>
</head>

<body>
  <form id="join" class="" action="index.html" method="post">
    <fieldset>
      <legend>회원가입</legend>
      <table>
        <tr>
          <td>ID</td>
          <td><input type="text" id="name" name="name" ref="id"></td>
        </tr>
        <tr>
          <td>이름</td>
          <td><input type="text" id="name" name="name" value=""></td>
        </tr>
        <tr>
          <td>비번</td>
          <td><input type="text" id="name" name="name" value=""></td>
        </tr>
        <tr>
          <td>비번확인</td>
          <td><input type="text" id="name" name="name" value=""></td>
        </tr>
        <tr>
          <td>취미</td>
          <td>
            <label :for="item" v-for="item in hobbyOpt" :style="{marginRight: '30px'}">{{item}}
              <input type="checkbox" v-model="hobby" :value="item" :id="item" name="hobby">
            </label>
          </td>
        </tr>
        <tr>
          <td>성별</td>
          <td>
            <label :for="item" v-for="item in genderOpt" :style="{marginRight: '30px'}">{{item}}
              <input type="radio" v-model="gender" :value="item" :id="item" name="gender">
            </label>
          </td>
        </tr>
        <tr>
          <td>전화번호</td>
          <td>
            <select v-model="mobile" id="mobile" name="mobile">
                <option v-for="option in mobileOpt" v-bind:value="option.value">
                    {{ option.text }}
                </option>
            </select> - <input type="number" name="mobile1" value=""> -
          <input type="number" name="mobile2" value="">
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <button type="button" v-on:click="join" name="btnJoin">가입</button>
            <button type="reset" name="btnCancel">취소</button>
          </td>
        </tr>
      </table>
    </fieldset>
  </form>
</body>

</html>
